$color_white: #FFFFFF;
$color_black: #000000;
$color_body: #FFFFFFC9;
$color_body_second: #F0F1F1;
$color_font: #3C3C3C;
$color_font_second: #5E5322;
$color_font_login: #737373;
$color_button: #707070;
$color_banner: #FAD648;
